{% extends 'base.html' %}
{% block title %}{{ group }}{% endblock %}
{% block content %}
{% for group in posts %}
  <main>
    <!-- класс py-5 создает отступы сверху и снизу блока -->
      </p>
      <article>
        <ul>
          <li>
            Автор: {{ group.author.get_full_name }}
          </li>
          <li>
            Дата публикации: {{ group.pub_date|date:"d E Y" }}
          </li>
        </ul>
        <p>{{ group.text }}</p>
      </article>
      {% if not forloop.last %}<hr>{% endif %}
      <!-- под последним постом нет линии -->
  </main>
{% endfor %}
{% endblock %}
